<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<script>
    function send() {
    let object = {
        "codeInfo": document.getElementById("code_snippet").value
    };

    let json = JSON.stringify(object);

    let xhr = new XMLHttpRequest();
    xhr.open("POST", '/api/codeInfo/new', false)
    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
    xhr.send(json);

    if (xhr.status == 200) {
      alert("Success!");
    }
}
</script>
<pre> <textarea id="code_snippet" placeholder="//write your codeInfo here"></textarea></pre>
<span>Time restriction:</span>
<input id="time_restriction" type="text" placeholder="0" />
<br>
<br>
<span>Views restriction:</span>
<input id="views_restriction" type="text" placeholder="0" />
<br>
<br>
<button id="send_snippet" type="submit" onclick="send()">Submit</button>
</body>